[submodule ".themes/foxslide"]
	path = .themes/foxslide
	url = https://github.com/sevenadrian/foxslide
[submodule ".themes/cleanpress"]
	path = .themes/cleanpress
	url = https://github.com/macjasp/cleanpress.git
